@media (max-width:600px){
    body{
        position: relative;
        overflow-x: hidden;
    }
    header{
        padding-top: 10px;
    }

    /* header start  */
    .menu-btn{
        display: block;
        cursor: pointer;
    }

    .nav-items{
        position: absolute;
        top: 90px;
        left: 0; 
        right: 0;
        padding: 30px;
        background:rgba(31, 30, 30, 0.224);
      
        flex-direction: column;
        border-radius: 30px;
        /* display: none; */
        margin-top: 10px;
       
        transition: 0.5s;
        transform: scale(0);
        /* transform-origin: top left; */
        /* transform: translateY(-150%); */  
        transform: translateX(120%);
    }
    .show{
        /* display: block; */
        transform: scale(1);
        /* transform: translate(0); */
         background: rgba(237, 158, 10, 0.87);
         color: black;
         font-weight: bold;
    }
    .banner-content{
        width: 100%;
        background: rgba(239, 168, 81, 0.578);
        padding-left: 50px;
      
    }

    section{
        padding: 50px 0;
    }
  .about-section{
        flex-direction: column-reverse;
        gap: 20;
    }
    .about-image{
        margin-top: 20px;
    }
    /* about end  */
    /* menu start  */
    .menu-section{
        flex-direction: column;

    }
    /* menu end */
    /* testimonials start  */
   
 
    .testimonials-section{
        flex-direction: column-reverse;
     gap: 20px;
 
     }

  
   
    /* testimonials end  */
    /* contact start  */
        .contact-container{
            grid-template-columns: 1fr;
            padding: 20px;
            gap: 20px;
        }

    /* contact end  */
    /* footer start  */
         .footer-content {
    
            
             grid-template-columns:1fr;
             padding: 20px;
         }

    /* footer end  */
}