@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto";
    font-size: 1.1rem;
  color: rgba(25, 23, 19, 0.863);
}
html{
    scroll-behavior: smooth;
    transition: 0.5s;
}
h1,p,a,h2,h3{
    font-family: "PT Serif", serif;
}
/* header section start  */
header{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg,rgba(221, 201, 150, 0.909),rgba(43, 42, 42, 0.11)),url("../photos/banner.jpg");
    background-size: cover;
    background-position:50% 50%;
    padding-top: 25px;
}

/* nav bar start */
nav {
    width: 80%;
    height: 80px;
    margin: auto;
    background: rgb(248, 224, 192);
    border-radius: 50px;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    padding: 0 40px;
    color: rgb(227, 158, 68);
}
/* nav item end */
.nav-items {
    display: flex;
    align-items: center;
    gap: 15px;

}
/* logo start  */
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.banner-content{
    width: 45%;
    min-height: 50vh;
     border: none;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding-left: 45px;
     gap: 18px;
}

.btn-groups{
    margin-top: 15px;

    /* margin-bottom: 20px; */
}

.btn{
    
    padding: 8px 15px;
    background: rgb(209, 155, 55);
    border-radius: 20px;
    /* font-weight: 500; */
    font-size: 1rem;
    color: rgb(44, 38, 27);
    transition: 0.3s;
    border: none;
    outline: none;
}

   .icon-image{
    margin-top: 10px;
   }
   /* menu btn  */
   .menu-btn {
       display: none;

   }
   /* header section end  */
   .title{
    text-align: center;
        padding: 50px;
   }
/* about section start  */
   section{
   
    box-shadow: 4px 4px  4px rgb(229, 216, 193);
    /* margin-top: 100px; */
        /* padding: 100px; */
    
       
   }
   .about-section{

    min-height: 60vh;

    display: flex;

   }
   .about-content,.about-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    

   }
   h2{
    font-size: 1.5rem;
   }
   .about-content{
    flex-direction: column;
    gap: 35px;
    padding: 50px;
   }
   /* about end  */
   /* menu start  */
   .menurestaurant-section{
    min-height: 120vh;
    display: flex;
        gap: 50px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
      
   }
   .menu-section{
   
    display: flex;
        margin-bottom: 35px;
           
 }
   .flex-1{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .flex-2{
    flex: 2;
    display: flex;
    padding: 0 40px;
    flex-direction: column;
   gap: 20px;
   }
   /* menu end  */
   /* testimonials start  */
   .testi-img{
width: 100%;
    min-height: 70vh;
    background: linear-gradient(90deg, rgb(246, 209, 141), rgba(45, 43, 39, 0.315)), url("../photos/pizza.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
   }
   .testimonials-section{

display: flex;
  
   
   }
 
  .testimonials-content,.testimonials-photo{
    flex: 1;
    display: flex;
    justify-content: center;
        align-items: center;
        flex-direction: column;
     padding: 0 50px;
   gap: 20px;
   }
   /* testimonials end  */
   