 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto";
    /* font-size: 1.1rem; */
  color: rgba(25, 23, 19, 0.863);
}
html{
    scroll-behavior: smooth;
    /* transition: 0.5s; */
}
h1,p,a,h2,h3,blockquote{
    font-family: "PT Serif", serif;
}
/* header section start  */
header{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg,rgba(241, 219, 162, 0.909),rgba(43, 42, 42, 0.11)45%),url("../photos/banner.jpg");
    background-size: cover;
    background-position:50% 50%;
    padding-top: 25px;
}

/* nav bar start */
nav {
    width: 80%;
    height: 80px;
    margin: auto;
    background: rgb(248, 224, 192);
    border-radius: 50px;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    padding: 0 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
/* nav item end */
.nav-items {
    display: flex;
    align-items: center;
    gap: 15px;

}
/* logo start  */
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.banner-content{
    margin-top: 80px;
    width: 50%;
    min-height: 75vh;
     border: none; 
      display: flex;
     flex-direction: column;
   
     justify-content: center;
     padding-left: 100px;
     gap: 15px; 
}
 .menu-btn {
     display: none;

 }
 
.btn-groups{
    margin-top: 10px;
    margin-bottom: 20px;

    
}

.btn{
    
    padding: 8px 15px;
    background: rgb(209, 155, 55);
    border-radius: 20px;
    font-weight: 500;
    /* font-size: 1rem; */
    color: rgb(44, 38, 27);
    transition: 0.3s;
    /* border: none; */
    /* outline: none; */
}

  
  
   /* header section end  */
   .title{
    text-align: center;
        
    
   }
/* about section start  */
   section{
   
    
        min-height: 70vh;
box-shadow: 2px 2px 4px rgba(229, 216, 193, 0.514);

    padding: 50px;
    
       
   }
   .about-section{
background: white;
    min-height: 60vh;

    display: flex;

   }
   .about-content,.about-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    

   }
   h2{
    font-size: 1.5rem;
   }
   .about-content{
    flex-direction: column;
    gap: 35px;
    padding: 50px;
   }
   /* about end  */
   /* menu start  */

   .menu-section{
   
    display: flex;
       gap: 20px;
       margin: 50px 30px;
           
 }
   .flex-1{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .flex-2{
    flex: 2;
    display: flex;
    padding: 20px;
    flex-direction: column;
   gap: 20px;
   }
   /* menu end  */
   /* testimonials start  */
  .testimonials{

   width: 100%;
    background: linear-gradient(90deg, rgb(246, 209, 141), #2d2b2750), url("../photos/pizza.jpg");
    background-size: cover;
    background-position:50% 50%;
    background-attachment: fixed;
   }
   .testimonials-section{
    width: 70%;
    margin: auto;
margin-top: 50px;
display: flex;
gap: 20px;
flex-wrap: wrap;
  
   
   }
 
  .testimonials-content,
  .testimonials-photo{
   flex: 1; 

    display: flex;
    justify-content: center;
        align-items: center;
       
     
   }
.testimonials-content{
  flex-direction: column;
  gap: 20px;
  padding: 50px;
  background: #d6bd79fb;
  
}
.testimonials-photo img{
    width: 100%;
    height: 100%;
object-fit: cover;
}

   /* testimonials end  */
   /* contact start  */
  .contact{
    min-height: 120vh;
    background: rgb(215, 197, 163);
   padding: 30px 80px; 
  }
   .contact-container{

     display: grid;
     grid-template-columns: repeat(2,1fr);
    }
   .contact-section{
    padding-left: 100px;
   }


  
   .contact-form{
    width: 50%;
    height: 100%;
   }
   .contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

   }
   form{
       width: 300px;
    height: 200px;
    /* background: rgba(190, 167, 122, 0.361);    */
    box-shadow: 0 0 8px rgba(230, 213, 182, 0.313);
    }
    form h3{
        text-align: center;
        margin-bottom: 20px;
        font-weight: bold;
    }
    input,textarea{
        width: 100%;
        border-radius: 20px;
       padding: 10px 20px;
        border: none;
        outline: none;
        margin-bottom: 10px;
        background: rgba(81, 70, 50, 0.377);
        
    }
    input::placeholder{
           color: rgba(24, 23, 21, 0.836);
    }
         button[type="submit"]{
           background: rgba(105, 91, 64, 0.598);
    color: rgba(26, 25, 23, 0.817);
           border: none;
           outline: none;
           padding: 10px 20px;
           border-radius: 20px;
         }        
    
   
   
   /* contact end  */